* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Calibri;
  font-size: 27px;
}

form {
  margin-left: 24px;
  margin-top: 15px;
}

input {
  display: none;
}

label[for="red"],
label[for="green"],
label[for="blue"] {
  padding: 2px;
  text-decoration: underline;
}

label[for="red"] {
  color: red;
}

label[for="green"] {
  color: green;
  margin-left: 60px;
}

label[for="blue"] {
  color: blue;
  margin-left: 60px;
  margin-right: 52px;
}

label[for="red"]:hover,
label[for="green"]:hover,
label[for="blue"]:hover {
  color: white;
  border-radius: 10px;
  padding: 2px;
  transition: 0.5s;
}

label[for="green"]:hover {
  background-color: green;
}

label[for="red"]:hover {
  background-color: red;
}

label[for="blue"]:hover {
  background-color: blue;
}

.red, .blue, .green {
  display: inline-block;
  color: white;
  border-radius: 10px;
  padding: 2px;
}

.red {
  background-color: red;
  padding-left: 10px;
  padding-right: 10px;
}

.blue {
  background-color: blue;
  padding-left: 10px;
  padding-right: 10px;
}

.green {
  background-color: green;
  padding-left: 10px;
  padding-right: 10px;
}

#red:checked ~ .red,
#green:checked ~ .green,
#blue:checked ~ .blue {
  display: none;
}

#red:checked ~ [for=red],
#green:checked ~ [for=green],
#blue:checked ~ [for=blue] {
  color: grey;
}